@import 'tailwindcss';

@font-face {
	font-family: 'Commit Mono';
	src: url('/assets/font/CommitMono-400-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Commit Mono';
	src: url('/assets/font/CommitMono-700-Regular.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Commit Mono';
	src: url('/assets/font/CommitMono-400-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Commit Mono';
	src: url('/assets/font/CommitMono-700-Italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@keyframes grow {
	from {
		transform: none;
	}

	to {
		transform: scale(110%);
	}
}

@theme {
	--color-background: #eff1f5;
	--color-background-alt: #e6e9ef;
	--color-background-alt-2: #dce0e8;
	--color-foreground: #4c4f69;
	--color-foreground-muted: #8c8fa1;
	--font-main: 'Commit Mono', monospace;

	--animate-grow: grow 0.5s ease infinite alternate;
}

@layer base {
	body {
		background-color: var(--color-background);
		color: var(--color-foreground);
		font-family: var(--font-main);
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		transition-property:
			color, background-color, border-color, outline-color, text-decoration-color, fill, stroke,
			--tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
		transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
		transition-duration: var(--tw-duration, var(--default-transition-duration));
	}

	a:hover {
		text-decoration: underline;
	}
}
